@font-face {
    font-family: "Font_R";
    src: url("Eulyoo1945-Regular.ttf") format("truetype");
    font-family: "Font_SB";
    src: url("Eulyoo1945-SemiBold.ttf") format("truetype");
}


html, body{
    height: 100%;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Font_R";
}

body {
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center; 
    
}

#bird-list {
    display: flex; 
    flex-wrap: nowrap;
    width: max-content;
    margin: 0;
    padding: 0;
    list-style: none;
    letter-spacing: 0.5px;
    gap: 20px;
    align-items: center; 
    text-align: center;
    
}

#bird-list li {
    flex-shrink: 0;
}




/*
*{
    /*전체에 적용*/
    margin: 0;
    padding: 0;
}
*/
/*
body{
    border: 1px solid lightgray;
    /*margin: 0;*/
}
*/
/*
ol{
    border: 1px solid gray;
    /*padding: 0;*/
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
*/
/*
li{
    border: 1px solid black;
    list-style: none;
}
*/
